*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

ul{
    list-style: none;
}

header{
    background-color: #B4D0E7;
}

header a{
    text-decoration: none;
}

nav{
    background-color: white;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.sinistra a, .destra a{
    padding: 20px;
}

.sinistra, .destra{
    display: flex;
    align-items: center;
}

.destra span{
    padding: 5px;
    color: white;
    background-color: #0061FF;
    cursor: pointer;

}

.container2{
    margin: 10px auto;
    width: 1100px;
}


.immagine img{
    width: 900px;
}

.prova{
    padding: 5px;
    width: 204px;
    background-color: #0061FF;
    color: white;
    cursor: pointer;
}

.fatturazione{
    margin-left: 400px;
    margin-bottom: 100px;
}

.colonne{
    gap: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.tipo{
    border: solid 1px lightgray;
}

.contenuto-colonna{
    border: solid 1px lightgray;
}


.contenuto-colonna li{
    padding: 5px;
}

.prova2{
    width: 100px;
    text-align: center;
    background-color: #0061FF;
    color: white;
    cursor: pointer;
    
}

.container3{
    margin-top: 100px;
    display: flex;
    justify-content: center;
}

.immagine2 img{
    margin-right: 100px;
    width: 500px;
}

.contenuto{
    margin: 10px;
    width: 200px;
}

.contenuto p{
    margin-top: 10px;
}

.btn{
    margin-top: 10px;
    padding: 5px;
    border: solid 1px ;
    cursor: pointer;
    text-align: center;
}

.operazioni{
    width: 1100px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.img-operazioni{
    width: 300px;
}

.contenuto-operazioni{
    width: 200px;
}

.clienti{
    margin-bottom: 100px;
    margin-top: 50px;
    text-align: center;
}

.container4{
    display: flex;
}

.sponsor{
    width: 1100px;
    display: flex;
    flex-wrap: wrap;
}

.sponsor img{
    padding: 50px;
    width: 200px;
}

#img1{
    background-color: #A2D39B;
}

#img2{
    background-color: #61082B;
}

#img3{
    background-color: #0093CE;
}

#img4{
    background-color: #FF1C1C;
}

#img5{
    background-color: #D5001F;
}

#img6{
    background-color: #B4D0E7;
}

#img7{
    background-color: #0D2481;
}

#img8{
    background-color: #FFD830;
}

.designit{
    text-align: center;
    background-color: lightgrey;
}