*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: 'Open Sans', sans-serif;
}

a{
    text-decoration: none ;
}

header{
    background-color: #B4D0E7;
}

nav{
    background-color: white;
}

.container{
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
}

.sinistra a, .destra a{
    padding: 20px;
}

.sinistra, .destra{
    display: flex;
    align-items: center;
}

.container2{
    margin: 10px auto;
    width: 1100px;
}


.immagine img{
    width: 900px;
}

.prova{
    padding: 5px;
    width: 204px;
    background-color: #0061FF;
    color: white;
}